<!DOCTYPE html>

<html>

      <head>
            <title>About</title>
      </head>

      <body>
            This tutorial has been put together by Nathan Moses<br />
           <div>Rango says here is the about page</div>
	
	    <div>
                 <strong>{{ boldmessage }}</strong><br />
            </div>
            

            <div>

		<a href="/rango/">Index</a>
           </div>
            <div>
                  <img src="{{ MEDIA_URL}}cat.jpg" />
            </div>
            <div>
		<img src="/static/images/rango.jpg"
		       alt="Picture of Rango" />
             </div>
            
</body>
</html>
      